In [1]:
import numpy as np
import sys
import pandas as pd

In [31]:
df = pd.read_csv('../data/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#### Shuffle Dataset

In [15]:
import random

from random import rand

ImportError: cannot import name 'rand' from 'random' (D:\installedPrograms\Anaconda_23\lib\random.py)

In [26]:
def distance(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

In [27]:
x=np.array([1,2,3,4,])
y=np.array([3,3,4,5,])

In [28]:
distance(x,y)

2.6457513110645907

In [32]:
df.shape

(150, 6)

In [36]:
permuted_index=np.random.permutation(df.shape[0])
permuted_index

array([ 42,  66, 111,  17, 136,  79, 114,  92,  53,  34,  98, 117,  44,
       101, 104,  85, 143,  30,  58,  49, 140,  14, 112, 148, 125, 116,
       130, 109,   7,  78,  12,   3, 120,  55, 144,  38, 139,  50, 149,
        88,  15, 145,  82,   6,  67,  28,   8, 137,  54,  93,  86,   1,
        77,  21,  25, 138, 118,  68,  99,  19, 127, 119,   5,  95,  18,
        73,  47,  70,  94,  22,  16,  61,  37,  74,   2,  72,  57,  65,
       106,  71,  76, 122, 131, 113, 126,  36,  84,  11, 134, 105, 142,
       103, 121,  40, 108,  35, 132,  41,  60, 146,  29, 147, 107, 135,
       128,  63,  46,  62,  48,  27, 102,  90,  69,   0,  24,  23, 100,
        31,  52,   9, 123, 129,  83, 110,  45,  10,  91,  39, 141, 115,
        97,  33,  32,  20,  89,  75,  56, 133,  26,  59,  51,  87,   4,
        81,  80, 124,  96,  13,  64,  43])